/* 
MILESTONE 1
Replica della grafica con la possibilità di avere messaggi scritti dall’utente (verdi) e dall’interlocutore (bianco) assegnando due classi CSS diverse
Visualizzazione dinamica della lista contatti: tramite la direttiva v-for, visualizzare nome e immagine di ogni contatto
NOTA: non usate Bootstrap ma flexbox e float (eventualmente fatelo come bonus alla fine quello di usare Bootstrap)
*/

:root {
    --color-bkg-green: #009688;
    --color-bkg-grey: #DADBD3;
    --color-lightblue: #8EDAFC;
    --color-lightgreen: #D5F9BA;
    --color-grey: #EAEAEA;
    --color-hover-grey: #E9EBEB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 16px;
    color: black;
}

.container {
    height: 100vh;
    position: relative;
}

/* BKG-SECTION */
.bkg-section {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
}

.bkg-black {
    height: 1.5rem;
    background-color: black;
}

.bkg-green {
    height: 6rem;
    background-color: var(--color-bkg-green);
}

.bkg-grey {
    height: calc(100vh - 1.5rem - 6rem);
    background-color: var(--color-bkg-grey);
}

/* MAIN */
main {
    min-width: 1000px;
    background-color: white;
    position: absolute;
    top: 2.5rem;
    left: 8rem;
    right: 8rem;
    bottom: 1rem;
    z-index: 1;
    display: flex;
}

/* CHATS-MENU-SECTION */
.chats-menu {
    background-color: violet;
    height: 100%;
    flex-basis: 30%;
}

/* CHAT-OPENED-SECTION */
.chat-opened {
    background-color: aqua;
    height: 100%;
    flex-basis: 70%;
}
