/* 
MILESTONE 1
Replica della grafica con la possibilità di avere messaggi scritti dall’utente (verdi) e dall’interlocutore (bianco) assegnando due classi CSS diverse
Visualizzazione dinamica della lista contatti: tramite la direttiva v-for, visualizzare nome e immagine di ogni contatto
NOTA: non usate Bootstrap ma flexbox e float (eventualmente fatelo come bonus alla fine quello di usare Bootstrap)
*/

:root {
    --color-bkg-green: #009688;
    --color-bkg-grey: #DADBD3;
    --color-lightblue: #8EDAFC;
    --color-lightgreen: #D5F9BA;
    --color-grey: #EAEAEA;
    --color-hover-grey: #E9EBEB;
    --color-font-grey: #B1B1B1; 
    --color-bkg-bell: #F2FBFF;
    --color-font-grey-small: #8f8e8e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    color: black;
}

.container {
    height: 100vh;
    position: relative;
}


/* GENERAL CLASSES */
header {
    background-color: var(--color-grey);
    height: 3rem;
}

header img {
    width: 2rem;
    height: 2rem;
    border-radius: 20rem;
    margin-right: .7rem; 
}


/* UTILITY CLASSES */
header.account {
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .img-name-account {
    flex: 1 0 0;
    display: flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}

header .img-name-account div {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.font-grey-small {
    color: var(--color-font-grey-small);
    font-size: 11px;
    font-weight: 400;
}

.font-smaller {
    color: #c2c0c0;
    font-size: 10px;
    font-weight: 400;
}

/* account-header */
.account-activities {
    flex: 0 1 0;
    width: 5rem;
    display: flex;
    justify-content: end;
    color: var(--color-font-grey);
}

.account-activities i {
    margin-right: .8rem;
    font-size: 18px;
    cursor: pointer;
}


/* BKG-SECTION */
.bkg-section {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
}

.bkg-black {
    height: 1.5rem;
    background-color: black;
}

.bkg-green {
    height: 6rem;
    background-color: var(--color-bkg-green);
}

.bkg-grey {
    height: calc(100vh - 1.5rem - 6rem);
    background-color: var(--color-bkg-grey);
}


/* MAIN */
main {
    min-width: 1000px;
    background-color: white;
    position: absolute;
    top: 2.5rem;
    left: 8rem;
    right: 8rem;
    bottom: 1rem;
    z-index: 1;
    display: flex;
}


/* CHATS-MENU-SECTION */
.chats-menu {
    height: 100%;
    flex-basis: 30%;
    border-right: 1px solid lightgrey;
}

/* notifications-on */
.notifications-on {
    padding: .5rem 1rem;
    height: 3.5rem;
    background-color: var(--color-lightblue);
    display: flex;
    justify-content: left;
    align-items: center;
}

.notifications-on .bell-rounded {
    margin-right: .5rem;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 20rem;
    background-color: var(--color-bkg-bell);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-lightblue);
}

.notifications-on div:last-child {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 500;
}

/* newchat-search */
.newchat-search {
    padding: .3rem;
    height: 2.3rem;
    background-color: whitesmoke;
}

.newchat-search div {
    height: 100%;
    background-color: white;
    border-radius: 1px;
    display: flex;
}

.newchat-search button, input {
    background-color: white;
    border: none;
    color: var(--color-font-grey-small);
    font-size: 10px;
}

.newchat-search button {
    flex: 0 0 15%;
    border-right: 1px solid whitesmoke;
    cursor: pointer;
}

.newchat-search input {
    padding: 0 .5rem;
    flex: 0 0 85%;
}

/* scroll-chats */
#scroll-chats {

}

.account-friend {
    padding: .5rem 2rem .5rem 1rem;
    height: 3.5rem;
    background-color: white;
}

.account-friend .img-name-account {
    display: flex;
    font-size: 12px;
    cursor: pointer;
}

.account-friend:hover {
    background-color: var(--color-hover-grey);
}

.account-friend img {
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 20rem;
    margin-right: .7rem;
}

.account-text {
    flex: 1 0 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.account-text div:first-child {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

.account-text div:last-child {
    text-align: end;
}


/* CHAT-OPENED-SECTION */
.chat-opened {
    height: 100%;
    flex-basis: 70%;
}
