<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp - a (not very) innovative messaging platform</title>

    <!-- style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

    <div id="app" class="container">
        <!-- CONTAINER LEFT -->
        <div class="left">

            <!-- header-left -->
            <div class="header-left">
                <div class="header-left-img">
                    <img :src="mainUser.img" :alt="mainUser.name">
                    <h3>{{mainUser.name}}</h3>
                </div>
                <div class="header-left-icons">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>

            <!-- disclaimer-left -->
            <div class="left-disclaimer">
                <div class="left-disclaimer-logo">
                    <i class="fa fa-bell-slash" aria-hidden="true"></i>
                </div>
                <div class="left-disclaimer-text">
                    <h3>Ricevi notifiche di nuovi messaggi</h3>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </div>

            <!-- searchbar-left -->
            <div class="left-searchbar">
                <div class="searchbar-container">
                    <button class="search-btn" for="search" @click="contactsFilter">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                    <input id="contacts-filter" @keyup="contactsFilter" v-model="searchingName" class="left-searchbar-input" placeholder="Cerca o inizia una nuova chat" name="search">
                </div>
            </div>

            <!-- contacts-left -->
            <div class="contacts">

                <div class="contact" v-for="(chat, index) in arrChats" @click="currentChatIndex = index" :class="{active: index == currentChatIndex}" v-show="chat.user.visible">
                    <div class="contact-img">
                        <img :src="chat.user.img" :alt="chat.user.name">
                    </div>
                    <div class="contact-info">
                        <h3>
                            <span class="contact-name">{{chat.user.name}}</span>
                            <span class="time f-right">
                                {{chat.user.lastMsgTime}}
                            </span>
                        </h3>
                        <small>Tutto fatto! ...</small>
                    </div>
                </div>

            </div>
        </div>

        <!-- CONTAINER RIGHT -->
        <div class="right">

            <!-- header-right -->
            <div class="header-right">
                <div class="header-right-img">
                    <img :src="arrChats[currentChatIndex].user.img" :alt="arrChats[currentChatIndex].user.name">
                    <h3><span id="header-right-contact-name">{{arrChats[currentChatIndex].user.name}}</span> <br> <small
                            class="time">Ultimo accesso oggi
                            alle</small></h3>
                </div>
                <div class="header-right-icons">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>

            <!-- right-messages-container -->
            <div class="right-messages-container">
                <div class="right-messages">

                    <!-- messages -->
                    <div class="message" v-for="message in arrChats[currentChatIndex].arrMsgs" :class="{sent : message.sent, received : !message.sent }">
                        <span class="message-text">{{message.text}}</span>
                        <span class="message-time">20/03/2020 16:30:00</span>

                        <i class="fa fa-chevron-down f-right message-options">
                            <div class="message-options-panel">
                                <div class="message-info">Info messaggio</div>
                                <div class="message-destroy">Cancella messaggio</div>
                            </div>
                        </i>
                    </div>

                </div>
            </div>

            <!-- right-footer -->
            <div class="right-footer">
                <div class="right-footer-icon f-left">
                    <i class="far fa-smile"></i>
                </div>
                <input class="new-message-inputs" placeholder="Scrivi un messaggio" v-model="arrChats[currentChatIndex].newMsgContent" @keyup.enter="sendNewMsg">
                <div class="right-footer-icon f-right">
                    <i class="fa fa-microphone" aria-hidden="true"></i>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.3.1/build/global/luxon.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>